.footer {
    background: $black;
    color: $white2;
    padding: 80px 0;
}

.footer H3 {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 20px;
}

.footer li {
    color: $white2;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.footerFlexContainer {
    display: flex;
    justify-content: space-between;
}

.recentFooter li {
    display: list-item;
}

.contactFooter, .recentFooter {
    padding: 0 0 20px;
    line-height: 20px;
    margin: 0;
}

.recentContainer H3 {
    display: flex;
    justify-content: center;
    list-style: none;
}

.twitterFooter {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.twitterH3, .footerForm {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.twitterH3 {
    margin: 0 0 20px;
}

// FORM

.footerButton {
    background-color: $sage;
    border: none;
    height: 34px;
    width: 40px;
}

input {
    height: 35px;
    border: none;
}
::placeholder {
    font-family: $bodyFont;
    color: rgb(175, 175, 175);
    font-size: 11px;
    padding: 0 10px;
    }
// https://www.codeinwp.com/snippets/change-placeholder-styles-html-inputs-with-css/ for placeholder help

#email {
    width: 65%;
}

.footer2 {
    background: $black;
    color: $white2;
}

.footer2H3 {
    font-size: 11px;
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    font-weight: lighter;
    border-top: 0.2px solid rgb(88, 88, 88)
}