.headerHome {
    background-image: url('../assets/home-1.jpeg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.headerBlog {
    background-image: url(../assets/blog-1.jpeg);
    height: 95vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.headerContact {
    padding-bottom: 20px;
}