// INDEX/HOMEPAGE

@media (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 0;
    }

    h1 {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 320px) {

}

// BLOG

@media (max-width: 800px) {

}

@media (max-width: 320px) {

}

// CONTACT

@media (max-width: 800px) {

}

@media (max-width: 320px) {

}