// SECTION ONE

.contactImg1 {
    width: 100%;
    margin: 0 0 70px;
}

.contactUsH2 {
    font-size: 45px;
    font-family: $headingFont;
    width: 20%;
    line-height: 55px;
    position: absolute;
    top: 122px;
}

// SECTION 2

.contactDetails H3, .contactP H3 {
    font-size: 14px;
    margin: 40px 0 20px;
}

.contactDetails p, .contactP p {
    font-size: 11px;
    line-height: 20px;
    color: rgb(175, 175, 175);
    margin: 30px 0 30px;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
}

.detailsContainer {
    padding: 20px 30px 20px;
    margin: 0 auto;
}

.detailsContainer H3 {
    font-size: 12px;
    letter-spacing: 4px;
    margin-top: 20px;
}

.detailsContainer p {
    font-size: 10px;
    line-height: 18px;
    color: rgb(175, 175, 175);
}

.vl {
    border-left: 1px solid $white2;
    height: 150px;
}

// SECTION THREE

.commentForm H2 {
    font-family: $headingFont;
    margin: 80px 0 20px;
}

input {
    width: 90%;
    padding: 0;
} 

#name {
    border-bottom: 1px solid $white2;
    margin-right: 20px;
    &::placeholder {
        color: rgb(175, 175, 175)
    }
}

#email {
    border-bottom: 1px solid $black;
}

#subject {
    border-bottom: 1px solid $white2;
    margin-left: 20px;
    &::placeholder {
        color: rgb(175, 175, 175)
    }
}

.sectionForm {
    display: flex;
    margin-bottom: 20px;
}


#message {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    font-family: $bodyFont;
    font-size: 11px;
    border-bottom: 1px solid $white2;
    margin-bottom: 30px;
    color: rgb(175, 175, 175);
    resize: none; // stack overflow help 
}

.contactButton {
    font-family: $bodyFont;
    font-size: 11px;
    border: none;
    border-bottom: 1px solid $black;
    background: none;
    margin-bottom: 100px;
    padding: 0 0 5px;
}

.contactImg2 {
    width: 100vw;
    display: block;
}

