// SECTION ONE

.sectionOneHome {
    background-color: $sage;
    min-height: 80vh;
}

.sectionOneImgs {
    position: relative;
    top: -65px;
    left: 0;
    width: 300px;
    height: 300px;
    margin-left: 30%;
}

.brandCircleD {
    display: flex;
    position: absolute;
    top: 122px;
    left: -53px;
    z-index: 10;
    width: 180px;
}

.desktopImgD {
    display: flex;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 350px;
    padding-top: 170px;
    margin-left: auto;
}

.brandingFlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 50px;
}

.brandingFlexContainer H3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.brandingP, .design {
    display: flex;
    flex-direction: column;
    margin: 10px 60px;
}

.brandingP2, .designP {
    text-align: center;
    font-size: 0.688rem;
    line-height: 20px;
}
// SECTION TWO

.galleryHome {
    display: flex;
    justify-content: space-evenly;
    padding: 120px 0 10px
}

.magazineImg {
    width: 200px;
    border-radius: 50%;
}

.galleryP {
    font-size: 0.75rem;
    color: rgb(175, 175, 175);
    text-align: center;
    font-style: italic;
    padding: 30px 0 100px;
    line-height: 20px;
    margin: 0 auto;
    width: 65%;
}

.fa-angle-left {
    position: relative;
    top: 150px;
    left: 35px;
    padding: 0 30px;
}

.fa-angle-right {
    position: relative;
    top: 150px;
    left: -35px;
    padding: 0 30px;
}

// SECTION THREE

.sectionThreeHome {
    background-image: url(../assets/home-4.jpeg);
    background-repeat: none;
    background-size: cover;
    min-height: 100vh;
}

.flexContainerGrid {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 160px;
    padding-left: 100px;
}

.sectionThreeGrid {
    display: flex;
    flex-wrap: wrap;
    // position: absolute;
    // top: 1970px;
    // left: 700px;
    width: 60%;
    z-index: 10;
}

.options {
    display: flex;
    width: 200px;
    margin-right: 40px;
    width: 40%;
    z-index: 10;
}

.options i {
    border: 2px solid $black;
    border-radius: 50%;
    padding: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 0 0;
}

.optionInfo {
    display: flex;
    flex-direction: column;
}

.optionInfo p {
    font-family: $bodyFont;
    font-size: 0.688rem;
    color: rgb(175, 175, 175);
    line-height: 20px;
    margin-bottom: 40px
}


// SECTION FOUR

.sectionFourHome H2 {
    font-size: 1.125rem;
    text-align: center;
    margin: 80px 0;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.staff li {
    margin-bottom: 20px;
}

.team0 {
    background-color: $white2;
    width: 424px;
    height: 200px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 20px;
}

.team6 {
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    line-height: 20px;
}

.staff {
    padding-bottom: 80px;
}

.staff img {
    height: 200px;
    width: 200px;
}

// SECTION FIVE

.section5Container {
    display: flex;
    justify-content: space-evenly;
}

.portfolioInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $sage;
    text-align: center;
}

.portfolioInfo p {
    padding: 20px 0px;
    font-size: 0.688rem;
    line-height: 20px;
    width: 55%;
}

.portfolioInfo H2 {
    font-size: 1.125rem;
}

.portfolioImg {
    width: 50%;
}

.portfolioButton {
    background-color: $white;
    border: none;
    text-decoration: none;
    font-size: 0.75rem;
    padding: 15px 20px;
}