// SECTION ONE

.blogTitleH2 {
    font-size: 3.125rem;
    font-family: $headingFont;
    margin-bottom: 20px;
}

.blogTitle p {
    font-size: 0.75rem;
}

.alexImg {
    border-radius: 50%;
    width: 55px;
}

.articleInfo {
    display: flex;
    margin-top: 60px;
    border-bottom: 2px solid $white2;
}

.articleInfo H3 {
    margin: 10px 0;
}

.articleInfo ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.articleLi2 {
    margin-left: 25px;
}

li p {
    font-size: 0.688rem;
    color: rgb(175, 175, 175);
    list-style: none;
}

.articleInfoList2 {
    display: flex;
    margin-left: auto;
    padding-left: 20px;
}

.articleInfoList2 li {
    padding-left: 40px;
}

.blogTitle p {
    color: rgb(175, 175, 175);
}

.blogPBold {
    font-size: 0.75rem;
    color: $black;
    margin-top: 40px;
    line-height: 20px;
}

.blogPostExample {
    font-size: 0.75rem;
    line-height: 20px;
    color:rgb(175, 175, 175);
}

.blogIcons {
    display: flex;
    padding: 0;
    margin: 20px 0 80px;
    list-style: none;
}

.fa-brands {
    padding: 0 10px 0 0;
}

.blogIcons H3 {
    padding-right: 10px;
    margin: 0;
}

// SECTION TWO

.relatedPosts H2 {
    font-family: $headingFont;
    margin-bottom: 20px;
}

.horizontalLine {
    border-top: 2px solid $white2;
    margin-bottom: 40px;
}

.relatedPostsList {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 20px;
}

.relatedPosts li {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
}

// SECTION THREE

.commentSection H2 {
    font-family: $headingFont;
    margin-top: 60px;
}

.commentSection img {
    width: 60px;
}

.comment2 {
    margin: 20px 0;
}

.commentText {
    display: inline-block;
    position: relative;
    background: $white2;
    padding: 20px;
    margin-left: 38px;
    width: 89%;
}
    
.commentText:after {
        content: '';
        position: absolute;
        left: 0;
        top: 26%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: $white2;
        border-left: 0;
        border-top: 0;
        margin-top: -10px;
        margin-left: -20px;
}
// speech bubble help from https://projects.verou.me/bubbly/

.username, .reply {
    display: inline;
    font-size: 0.688rem;
}

.reply {
    font-style: italic;
    color: rgb(175, 175, 175);
}

.comment {
    font-size: 0.688rem;
    margin: 10px 0;
}

.date {
    font-size: 0.625rem;
    margin: 10px 0;
    color:rgb(175, 175, 175)
}

// SECTION FOUR

.commentForm H2 {
    font-family: $headingFont;
    margin: 80px 0 20px;
}

.sectionForm {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

input {
    width: 100%;
} 

#name {
    border-bottom: 1px solid $white2;
    &::placeholder {
        color: rgb(175, 175, 175)
    }
}

#email {
    border-bottom: 1px solid $black;
}

#subject {
    border-bottom: 1px solid $white2;
    &::placeholder {
        color: rgb(175, 175, 175)
    }
}

#message {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    font-family: $bodyFont;
    font-size: 0.688rem;
    border-bottom: 1px solid $white2;
    margin-bottom: 30px;
    color: rgb(175, 175, 175);
    resize: none; // stack overflow help 
}

.blogButton {
    font-family: $bodyFont;
    font-size: 0.688rem;
    border: none;
    border-bottom: 1px solid $black;
    background: none;
    margin-bottom: 100px;
    padding: 0 0 5px;
}

