.vl1 {
    border-left: 1px solid $black;
    width: 150px;
    position: relative;
    left: 50%;
    z-index: 10;
}

// SECTION ONE

.sectionOneHome {
    background-color: $sage;
    height: 610px;
    width: 100vw;
}

.brandCircleImg {
    position: relative;
    top: 95px;
    left: 205px;
    height: 180px;
    width: 180px;

}

.desktopImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    margin: 0 auto;
}

.brandingFlexContainer {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    margin: 0 auto;
}

.brandingFlexContainer H3 {
    display: flex;
    justify-content: center;
}

.brandingP2, .designP {
    text-align: center;
    font-size: 11px;
    padding: 0 60px;
    line-height: 20px;
}
// SECTION TWO

.galleryHome {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 10px
}

.magazineImg {
    width: 23%;
    border-radius: 50%;
}

.galleryP {
    font-size: 12px;
    color: rgb(175, 175, 175);
    text-align: center;
    font-style: italic;
    padding: 20px 180px;
    line-height: 20px;
    margin-bottom: 80px;
}

.fa-angle-left {
    position: relative;
    top: 150px;
    left: 35px;
}

.fa-angle-right {
    position: relative;
    top: 150px;
    left: -35px;
}

// SECTION THREE

.sectionThreeHome {
    background-image: url(../assets/home-4.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.flexContainerGrid {
    display: flex;
    justify-content: right;
    position: relative;
    top: 170px;
    right: -150px;
}

.sectionThreeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(70%)
}

.options {
    width: 210px;
    margin-right: 40px;
}

.options p {
    font-size: 11px;
    color: rgb(175, 175, 175);
    line-height: 20px;
    margin-bottom: 40px
}

.sectionThreeGrid {
    i::before {
        border: 2px solid $black;
        border-radius: 50%;
        padding: 25px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 15px 0 0;
    }
}

// SECTION FOUR

.sectionFourHome H2 {
    font-size: 18px;
    text-align: center;
    margin: 70px 0;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.staff li {
    margin-bottom: 20px;
}

.team0 {
    background-color: $white2;
    width: 424px;
    height: 200px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 20px;
}

.team6 {
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    line-height: 20px;
}

.staff img {
    height: 200px;
    width: 200px;
}

.team3, .team4, .team5, .team6 {
    padding-bottom: 80px;
}

// SECTION FIVE

.section5Container {
    display: flex;
    justify-content: space-between;
}

.portfolioInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $sage;
    text-align: center;
}

.portfolioInfo p {
    padding: 20px 170px;
    font-size: 11px;
    line-height: 20px;
}

.portfolioInfo H2 {
    font-size: 18px;
}

.portfolioImg {
    height: auto;
    width: 50vw;
}

.portfolioButton {
    background-color: $white;
    border: none;
    font-size: 12px;
    padding: 15px 20px;
}





