// SECTION ONE

.sectionOneHome {
    background-color: $sage;
    height: 85vh;
    width: 100vw;
}

.brandCircleImg {
    position: relative;
    top: 95px;
    left: 205px;
    height: 180px;
    width: 180px;
    z-index: 10;
}

.desktopImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    margin: 0 auto;
}

.brandingFlexContainer {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    margin: 0 auto;
}

.brandingFlexContainer H3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.brandingP2, .designP {
    text-align: center;
    font-size: 12px;
    padding: 0 60px;
    line-height: 20px;
}
// SECTION TWO

.galleryHome {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 10px
}

.magazineImg {
    width: 23%;
    border-radius: 50%;
}

.galleryP {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    padding: 20px 190px;
    line-height: 20px;
}

.fa-angle-left {
    position: relative;
    top: 150px;
    left: 35px;
}

.fa-angle-right {
    position: relative;
    top: 150px;
    left: -35px;
}

// SECTION THREE

.sectionThreeHome i {
    border: 2px solid $black;
    border-radius: 50%;
    padding: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sectionThreeHome {
    background-image: url(../../../assets/home-4.jpeg);
}