html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans";
  color: #333333;
}

h1 {
  font-family: "Montserrat";
  color: #333333;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 65%;
  margin: 0 auto;
}

nav ul, li {
  color: #333333;
  display: inline;
  font-size: 12px;
}

nav li {
  padding-right: 20px;
}

.home {
  text-decoration: line-through;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  margin-top: 25px;
}

h1 {
  display: inline;
  margin: 0 144px;
}

.navIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.navIcons .searchIcon, .navIcons .bagIcon {
  margin-right: 15px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navIcons .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navIcons .counter p {
  position: relative;
  left: -20px;
  width: 12px;
  height: 12px;
  background: #c3dab7;
  border-radius: 50%;
  color: #333333;
  text-align: center;
  font-size: 8px;
}

.headerHome {
  background-image: url("../assets/home-1.jpeg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.headerBlog {
  background-image: url(../assets/blog-1.jpeg);
  height: 95vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.footer {
  background: #333333;
  color: #f6f6f6;
  padding: 80px 0;
}

.footer H3 {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 20px;
}

.footer li {
  color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recentFooter li {
  display: list-item;
}

.contactFooter, .recentFooter {
  margin: 0 auto;
  padding: 0 0 20px;
  line-height: 20px;
}

.fa-brands {
  padding-right: 10px;
}

.recentContainer H3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.twitterFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.twitterH3, .footerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 10px;
}

.twitterH3 {
  margin: 0 0 20px;
}

.footerButton {
  background-color: #c3dab7;
  border: none;
  height: 34px;
  width: 40px;
}

input {
  height: 35px;
  border: none;
}

::-webkit-input-placeholder {
  font-family: "Open Sans";
  color: rgb(175, 175, 175);
  font-size: 11px;
  padding: 0 10px;
}

::-moz-placeholder {
  font-family: "Open Sans";
  color: rgb(175, 175, 175);
  font-size: 11px;
  padding: 0 10px;
}

:-ms-input-placeholder {
  font-family: "Open Sans";
  color: rgb(175, 175, 175);
  font-size: 11px;
  padding: 0 10px;
}

::-ms-input-placeholder {
  font-family: "Open Sans";
  color: rgb(175, 175, 175);
  font-size: 11px;
  padding: 0 10px;
}

::placeholder {
  font-family: "Open Sans";
  color: rgb(175, 175, 175);
  font-size: 11px;
  padding: 0 10px;
}

#email {
  width: 65%;
}

.footer2 {
  background: #333333;
  color: #f6f6f6;
}

.footer2H3 {
  font-size: 11px;
  margin: 0;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 4px;
  font-weight: lighter;
  border-top: 0.2px solid rgb(88, 88, 88);
}

.sectionOneHome {
  background-color: #c3dab7;
  height: 85vh;
  width: 100vw;
}

.brandCircleImg {
  position: relative;
  top: 95px;
  left: 205px;
  height: 180px;
  width: 180px;
  z-index: 10;
}

.desktopImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38%;
  margin: 0 auto;
}

.brandingFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 60px;
  margin: 0 auto;
}

.brandingFlexContainer H3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.brandingP2, .designP {
  text-align: center;
  font-size: 12px;
  padding: 0 60px;
  line-height: 20px;
}

.galleryHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 120px 0 10px;
}

.magazineImg {
  width: 23%;
  border-radius: 50%;
}

.galleryP {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  padding: 20px 190px;
  line-height: 20px;
  margin-bottom: 60px;
}

.fa-angle-left {
  position: relative;
  top: 150px;
  left: 35px;
}

.fa-angle-right {
  position: relative;
  top: 150px;
  left: -35px;
}

.sectionThreeHome {
  background-image: url(../assets/home-4.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.flexContainerGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
  top: 170px;
  right: -150px;
}

.sectionThreeGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.options {
  width: 210px;
  margin-right: 40px;
}

.options H3 {
  font-size: 16px;
}

.options p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 40px;
}

.sectionThreeGrid i::before {
  border: 2px solid #333333;
  border-radius: 50%;
  padding: 25px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 15px 0 0;
}

.sectionFourHome H2 {
  font-size: 18px;
  text-align: center;
  margin: 70px 0;
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.staff li {
  margin-bottom: 20px;
}

.team0 {
  background-color: #f6f6f6;
  width: 424px;
  height: 200px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 20px;
}

.team6 {
  width: 200px;
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  line-height: 20px;
}

.staff img {
  height: 200px;
  width: 200px;
}

.team3, .team4, .team5, .team6 {
  padding-bottom: 80px;
}

.section5Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolioInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c3dab7;
  text-align: center;
}

.portfolioInfo p {
  padding: 20px 170px;
  font-size: 12px;
  line-height: 20px;
}

.portfolioInfo H2 {
  font-size: 18px;
}

.portfolioImg {
  height: auto;
  width: 50vw;
}

.portfolioButton {
  background-color: #ffffff;
  border: none;
  font-size: 12px;
  padding: 15px 20px;
}

.blogTitleH2 {
  font-size: 50px;
  font-family: "Montserrat";
  margin-bottom: 20px;
}

.blogTitle p {
  font-size: 12px;
}

.alexImg {
  border-radius: 50%;
  width: 55px;
}

.articleInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  border-bottom: 2px solid #f6f6f6;
}

.articleInfo H3 {
  margin: 10px 0;
}

.articleInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.articleInfoList {
  display: inline;
}

.articleLi2 {
  margin-left: 25px;
}

li p {
  font-size: 10px;
  color: rgb(175, 175, 175);
}

.articleInfoList2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-left: 20px;
}

.articleInfoList2 li {
  padding-left: 95px;
}

.blogTitle p {
  color: rgb(175, 175, 175);
}

.blogPBold {
  font-size: 12px;
  color: #333333;
  margin-top: 40px;
  line-height: 20px;
}

.blogPostExample {
  font-size: 12px;
  line-height: 20px;
  color: rgb(175, 175, 175);
}

.blogIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 30px 0 80px;
}

.blogIcons H3 {
  padding-right: 15px;
  margin: 0;
}

.relatedPosts H2 {
  font-family: "Montserrat";
  margin-bottom: 20px;
}

.horizontalLine {
  border-top: 2px solid #f6f6f6;
  margin-bottom: 40px;
}

.relatedPostsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  margin-top: 20px;
}

.relatedPosts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(33.3333333333% - 20px);
  padding: 0;
}

.commentSection H2 {
  font-family: "Montserrat";
  margin-top: 60px;
}

.commentSection img {
  width: 60px;
}

.comment2 {
  margin: 20px 0;
}

.commentText {
  display: inline-block;
  position: relative;
  background: #f6f6f6;
  padding: 20px;
  margin-left: 38px;
  width: 89%;
}

.commentText:after {
  content: "";
  position: absolute;
  left: 0;
  top: 26%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #f6f6f6;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.username, .reply {
  display: inline;
  font-size: 11px;
}

.reply {
  font-style: italic;
  color: rgb(175, 175, 175);
}

.comment {
  font-size: 11px;
  margin: 10px 0;
}

.date {
  font-size: 10px;
  margin: 10px 0;
  color: rgb(175, 175, 175);
}

.commentForm H2 {
  font-family: "Montserrat";
  margin: 80px 0 20px;
}

input {
  width: 90%;
  padding: 0;
}

#name {
  border-bottom: 1px solid #f6f6f6;
  margin-right: 20px;
}
#name::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
}
#name::-moz-placeholder {
  color: rgb(175, 175, 175);
}
#name:-ms-input-placeholder {
  color: rgb(175, 175, 175);
}
#name::-ms-input-placeholder {
  color: rgb(175, 175, 175);
}
#name::placeholder {
  color: rgb(175, 175, 175);
}

#email {
  border-bottom: 1px solid #333333;
}

#subject {
  border-bottom: 1px solid #f6f6f6;
  margin-left: 20px;
}
#subject::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
}
#subject::-moz-placeholder {
  color: rgb(175, 175, 175);
}
#subject:-ms-input-placeholder {
  color: rgb(175, 175, 175);
}
#subject::-ms-input-placeholder {
  color: rgb(175, 175, 175);
}
#subject::placeholder {
  color: rgb(175, 175, 175);
}

.sectionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: none;
  font-family: "Open Sans";
  font-size: 11px;
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 30px;
  color: rgb(175, 175, 175);
  resize: none;
}

.blogButton {
  font-family: "Open Sans";
  font-size: 11px;
  border: none;
  border-bottom: 1px solid #333333;
  background: none;
  margin-bottom: 100px;
  padding: 0 0 5px;
}

.commentForm H2 {
  font-family: "Montserrat";
  margin: 80px 0 20px;
}

input {
  width: 90%;
  padding: 0;
}

#name {
  border-bottom: 1px solid #f6f6f6;
  margin-right: 20px;
}
#name::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
}
#name::-moz-placeholder {
  color: rgb(175, 175, 175);
}
#name:-ms-input-placeholder {
  color: rgb(175, 175, 175);
}
#name::-ms-input-placeholder {
  color: rgb(175, 175, 175);
}
#name::placeholder {
  color: rgb(175, 175, 175);
}

#email {
  border-bottom: 1px solid #333333;
}

#subject {
  border-bottom: 1px solid #f6f6f6;
  margin-left: 20px;
}
#subject::-webkit-input-placeholder {
  color: rgb(175, 175, 175);
}
#subject::-moz-placeholder {
  color: rgb(175, 175, 175);
}
#subject:-ms-input-placeholder {
  color: rgb(175, 175, 175);
}
#subject::-ms-input-placeholder {
  color: rgb(175, 175, 175);
}
#subject::placeholder {
  color: rgb(175, 175, 175);
}

.sectionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: none;
  font-family: "Open Sans";
  font-size: 11px;
  border-bottom: 1px solid #f6f6f6;
  margin-bottom: 30px;
  color: rgb(175, 175, 175);
  resize: none;
}

.blogButton {
  font-family: "Open Sans";
  font-size: 11px;
  border: none;
  border-bottom: 1px solid #333333;
  background: none;
  margin-bottom: 100px;
  padding: 0 0 5px;
}